%p
  %label
    = l(:'issues_tree.settings.default_redirect_to_tree_view')
  = hidden_field_tag 'settings[default_redirect_to_tree_view]', false
  = check_box_tag 'settings[default_redirect_to_tree_view]', true, @settings['default_redirect_to_tree_view'] == 'true'
%p
  %label
    = l(:'issues_tree.settings.default_redirect_to_tree_view_without_project')
  = hidden_field_tag 'settings[default_redirect_to_tree_view_without_project]', false
  = check_box_tag 'settings[default_redirect_to_tree_view_without_project]', true, @settings['default_redirect_to_tree_view_without_project'] == 'true'
