- tr_data = {:'tt-id'        => "#{issue.id}",
             :'tt-branch'    => "#{issue.children_in_range?(issues_ids) ? 'true' : 'false'}",
             :'tt-parent-id' => "#{issue.parent_id}"}

%tr{id: "issue-#{issue.id}",
    class: "hascontextmenu #{cycle('odd', 'even')} #{issue.css_classes}",
    data: tr_data}
  %td.checkbox.hide-when-print
    = check_box_tag('ids[]', issue.id, false, id: nil)

  %td.id
    = link_to issue.id, controller: 'issues', action: 'show', id: issue
  - cols = query.inline_columns.map do |column|
    - unless column.value(issue) == issue.id
      - "<td class=\"#{column.css_classes}\">#{column_content(column, issue)}</td>"
  = raw cols.join
