- content_for :header_tags do
  = stylesheet_link_tag 'jquery.treetable.theme.default.css', plugin: :redmine_issues_tree
  = stylesheet_link_tag 'jquery.treetable.css',               plugin: :redmine_issues_tree
  = stylesheet_link_tag 'custom_issues.css',                  plugin: :redmine_issues_tree

  = javascript_include_tag 'custom.jquery.treetable.js',      plugin: :redmine_issues_tree
  = javascript_include_tag 'tree.issues.initializer.js',      plugin: :redmine_issues_tree


%div.contextual
  - if User.current.allowed_to?(:add_issues, @project, :global => true) && (@project.nil? || Issue.allowed_target_trackers(@project).any?)
    = link_to l(:label_issue_new), _new_project_issue_path(@project), :class => 'icon icon-add new-issue'

  = call_hook(:view_issues_tree_index_contextual,
              {issues: @issues, project: @project, query: @query})

%h2
  = @query.new_record? ? l(:label_issue_plural) : @query.name

- html_title(@query.new_record? ? l(:label_issue_plural) : @query.name)

= form_tag({controller: :issues_trees,
            action: :tree_index,
            project_id: @project},
            method: :get,
            id: 'query_form',
            class: 'redmine-query-form issues-tree-index-form',
            data: @tree_data) do
  %div#query_form_with_buttons.hide-when-print
    = hidden_field_tag 'set_filter', '1'
    %div#query_form_content
      %fieldset{id: 'filters', class: "collapsible #{@query.new_record? ? '' : 'collapsed'}"}
        %legend{onclick: 'toggleFieldset(this);'}
          = l(:label_filter_plural)
        %div{style: "#{@query.new_record? ? '' : 'display: none;'}"}
          = render partial: 'queries/filters', locals: {query: @query}
      %fieldset#options.collapsible.collapsed
        %legend{onclick: 'toggleFieldset(this);'}
          = l(:label_options)
        %div{style: 'display: none;'}
          %table
            %tr
              %td.field
                = l(:field_column_names)
              %td
                = render_query_columns_selection(@query)
            %tr
              %td.field
                = l(:button_show)
              %td
                = available_block_columns_tags(@query)
            %tr
              %td
                = l(:label_total_plural)
              %td
                = available_totalable_columns_tags(@query)
    %p.buttons
      = link_to_function l(:button_apply), '$("#query_form").submit()', class: 'icon icon-checked'
      = link_to l(:button_clear), { set_filter: 1, project_id: @project }, class: 'icon icon-reload'
      - if @query.new_record?
        - if User.current.allowed_to?(:save_queries, @project, global: true)
          = link_to_function l(:button_save),
                             "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                             class: 'icon icon-save'
      - else
        - if @query.editable_by?(User.current)
          = link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit'
          = delete_link query_path(@query)

= error_messages_for 'query'
- if @query.valid?
  - if @issues.empty?
    %p.nodata
      = l(:label_no_data)
  - else
    = render partial: 'issues_trees/tree_list', locals: {issues: @issues, query: @query}

= call_hook(:view_issues_tree_index_bottom, {issues: @issues, project: @project, query: @query})

- content_for :sidebar do
  = render partial: 'issues/sidebar'

= context_menu issues_context_menu_path